.content-chart{
  background: #008380;
  width: fit-content;
  padding: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}
.chart-content{
  width:40vw !important;
  height:60vh !important;
  display: flex;
  background: transparent;
  position:relative;
  canvas{
    background:#ffff;
    border: 3px solid;
    border-radius: 10px;
    padding:1.2rem;
  }
    .n-golpes{
      transform: rotate(270deg);
      width: fit-content;
      height: fit-content;
      padding: 0.2rem 1rem;
      position: absolute;
      top: 45%;
      left: -21%;
      font-size: 19px;
      color: white;
    }
}

.p-humedad{
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 1rem;
}

