form {
  margin-top: 2rem;
  padding: 0 2rem;
  p {
    border-bottom: 2px solid #9f9f9f;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    cursor: pointer;
    span {
      font-weight: 400;
    }
  }
  h2 {
    font-size: 18px;
    margin: 1rem;
  }
  .content_fields {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .content_field {
    width: 100%;
    &.location {
      display: grid !important;
      grid-template-columns: 80% 20%;
      gap: 2rem;
      p {
        text-align: left;
      }
      .date{
        text-align: center;
      }
    }
    mat-form-field {
      width: 100%;
      display: -webkit-inline-box;
      margin: 0.5rem 0;
    }
  }
  button {
    z-index: 10;
    width: 100%;
  }
}
