<form [formGroup]="form" >
  <div class="content_field location">
    <p *ngIf="location && !activeEdit" >
      Localización: <span>{{location}} </span>
    </p>
    <mat-form-field *ngIf="!location || activeEdit" appearance="outline">
      <mat-label>Localización</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>
    <mat-error
    *ngIf="
      form.get('location')?.hasError('required') &&
      form.get('location')?.touched
    "
  >
    Este campo es requerido
  </mat-error>
  <p class="date">{{date | date:'dd-MM-yyyy' }}</p>
  </div>
  <div class="content_fields" >
    <div class="content_field">
      <p *ngIf="values?.TareWeight && !activeEdit" >
        Peso Tara: <span>{{values?.TareWeight}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.TareWeight || activeEdit" >
        <mat-label>Peso Tara</mat-label>
        <input matInput formControlName="TareWeight" type="number" />
      </mat-form-field>
    </div>
    <div *ngIf="project.probe" class="content_field">
      <p *ngIf="numberSondeo && !activeEdit" >
        Sondeo N°: <span>{{numberSondeo}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!numberSondeo || activeEdit" >
        <mat-label>Sondeo N°</mat-label>
        <input matInput formControlName="probe" type="number" />
      </mat-form-field>
    </div>
    <div *ngIf="project.probe" class="content_field">
      <p *ngIf="values?.layer && !activeEdit" >
        Muestra: <span>{{values?.layer}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.layer || activeEdit" >
        <mat-label>Muestra</mat-label>
        <input matInput type="number" formControlName="layer" />
      </mat-form-field>
    </div>
    <div class="content_field">
      <p *ngIf="values?.sampleWeightH && !activeEdit" >
        Peso Muestra H: <span>{{values?.sampleWeightH}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.sampleWeightH || activeEdit" >
        <mat-label>Peso Muestra H</mat-label>
        <input matInput formControlName="sampleWeightH" type="number" />
      </mat-form-field>
    </div>
    <button class="btn_primary" *ngIf="activeEdit" type="button" (click)="onSubmit()">
      Guardar
    </button>
    <button class="btn_primary" *ngIf="!activeEdit" type="button" (click)="onActiveEdit()">
      Editar
    </button>
  </div>
</form>
