<form [formGroup]="form" >
  <div class="content_field location">
    <p *ngIf="values?.location && !activeEdit" >
      Localización: <span>{{values?.location}} </span>
    </p>
    <mat-form-field *ngIf="!values?.location || activeEdit" appearance="outline">
      <mat-label>Localización</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>
    <mat-error
    *ngIf="
      form.get('location')?.hasError('required') &&
      form.get('location')?.touched
    "
  >
    Este campo es requerido
  </mat-error>
  <p class="date">{{date | date:'dd-MM-yyyy' }}</p>
  </div>
  <div class="content_fields" >
    <div class="content_field">
      <p *ngIf="values?.TareWeight && !activeEdit" >
        Peso Tara: <span>{{values?.TareWeight}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.TareWeight || activeEdit" >
        <mat-label>Peso Tara</mat-label>
        <input matInput formControlName="TareWeight" type="number" />
      </mat-form-field>
    </div>
    <div class="content_field">
      <p *ngIf="values?.probe && !activeEdit" >
        Sondeo N°: <span>{{values?.probe}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.probe || activeEdit" >
        <mat-label>Sondeo N°</mat-label>
        <input matInput formControlName="probe" type="number" />
      </mat-form-field>
    </div>
    <div class="content_field">
      <p *ngIf="values?.layer && !activeEdit" >
        Capa: <span>{{values?.layer}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.layer || activeEdit" >
        <mat-label>Capa</mat-label>
        <input matInput formControlName="layer" />
      </mat-form-field>
    </div>
    <div class="content_field">
      <p *ngIf="values?.sampleWeightH && !activeEdit" >
        Peso Muestra H: <span>{{values?.sampleWeightH}} </span>
    </p>
      <mat-form-field appearance="outline" *ngIf="!values?.sampleWeightH || activeEdit" >
        <mat-label>Peso Muestra H</mat-label>
        <input matInput formControlName="sampleWeightH" type="number" />
      </mat-form-field>
    </div>
    <button class="btn_primary" *ngIf="activeEdit" type="button" (click)="onSubmit()">
      Guardar
    </button>
    <button class="btn_primary" *ngIf="!activeEdit" type="button" (click)="onActiveEdit()">
      Editar
    </button>
  </div>
</form>
