<form>
  <div class="content_field location">
    <!-- <h2>Localización</h2> -->
    <mat-form-field appearance="outline">
      <mat-label>Localización</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="content_fields">
    <div class="content_field">
      <!-- <h2>Tipo de muestra</h2> -->
      <mat-form-field appearance="outline">
        <mat-label>Tipo de muestra</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="content_field">
      <!-- <h2>Peso Tara</h2> -->
      <mat-form-field appearance="outline">
        <mat-label>Peso Tara</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
    <div class="content_field">
      <!-- <h2>Sondeo N°</h2> -->
      <mat-form-field appearance="outline">
        <mat-label>Sondeo N°</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
    <div class="content_field">
      <!-- <h2>Capa</h2> -->
      <mat-form-field appearance="outline">
        <mat-label>Capa</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
    <div class="content_field">
      <!-- <h2>Peso Muestra H</h2> -->
      <mat-form-field appearance="outline">
        <mat-label>Peso Muestra H</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
  </div>
</form>

