form{
     width: fit-content;
    display: grid;
    place-items: center;
    background: #f9f7f7;
    gap: 0.7rem;
    padding: 2rem;
    margin: auto;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px;
    .solicitante{
    display: flex;
    gap: 2rem;
    }
    .mat-mdc-form-field{
      width: 100%;
    }
}
