<form [formGroup]="form">
<h2 class="title">Ensayo de humedad</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [class.active]="activeEdit">
    <ng-container matColumnDef="prueba" >
      <th mat-header-cell *matHeaderCellDef>Prueba.</th>
      <td
      mat-cell
      *matCellDef="let element"
      >
        {{ element.prueba }}
      </td>
    </ng-container>
    <ng-container *ngFor="let item of stringValues" [matColumnDef]="item" [formGroupName]="item">
      <th mat-header-cell *matHeaderCellDef>M1</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!activeEdit && item && element.primera" >
          <ng-container *ngIf="element.primera==='DepthM';else valuesItems"> 
            <p>
              {{depthM}}
             </p>
          </ng-container>
          <ng-template #valuesItems>
            <p>
              {{values[item][element.primera]}}
            </p>
          </ng-template>
          </ng-container>

        <mat-form-field appearance="outline" *ngIf="activeEdit" >
          <mat-label>{{element.prueba}}</mat-label>
          <input
            matInput
            [type]="element.primera!=='DepthM'?'number':'text'"
            [formControlName]="element.primera"
          >
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="footer">
      <p *ngIf="!activeEdit && values.observation" >
        Observaciones: {{values.observation}}
      </p>
      <div *ngIf="activeEdit" class="observaciones">
        <label for="observaciones">
          Observaciones:
        </label>
        <textarea formControlName="observation" name="observaciones" id="observaciones" cols="30" rows="10"></textarea>
      </div>
    <div class="cilindro" *ngIf="project.probe " >
      <img width="110" height="110" src="/assets/cilindro.svg" alt="cilindro">
      <div *ngIf="!activeEdit && values.cylinder?.diameter">
        <p>
          Diámetro: {{values.cylinder.diameter}}
         </p>
        <p>
          Altura: {{values.cylinder.height}}
         </p>
      </div>
      <div *ngIf="activeEdit" formGroupName="cylinder">
        <mat-form-field appearance="outline">
          <mat-label>Diámetro</mat-label>
          <input matInput formControlName="diameter">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Altura</mat-label>
          <input matInput formControlName="height">
        </mat-form-field>
      </div>
    </div>
  </div>
  <button class="btn_primary" *ngIf="activeEdit" (click)="onSubmit()">
    Guardar
  </button>
  <button class="btn_primary" *ngIf="!activeEdit" type="button" (click)="onActiveEdit()">
    Editar
  </button>
</form>
