th {
  text-align: center !important;
  font-size: 18px !important;
  border-bottom: 1px solid #9f9f9f !important;
}

td {
  text-align: center !important;
  border-bottom: 1px solid #9f9f9f !important;
}
mat-form-field {
  display: -webkit-inline-box;
  margin: 0.5rem 0;
}
h2 {
  background: #2b9aa6;
  color: white;
  font-size: 18px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}
.footer,.observaciones,.cilindro{
  display:flex;
  justify-content: space-evenly;
    margin-top: 1rem;
}
.observaciones{
  display: grid;
  gap: 1rem;
}
