<div class="btns">
  <button  mat-raised-button color="primary" class="add-muestra"  (click)="onCreateMuestra()" >
    <mat-icon> add_circle_outline</mat-icon>
      Añadir Muestra
  </button>
  <button  mat-raised-button color="primary" class="add-muestra"  (click)="onCreateSondeo()" >
    <mat-icon> add_circle_outline</mat-icon>
      Añadir Sondeo
  </button>
</div>
<app-header />
<app-form-header />
<!-- <div class="content-form_h_g">
  <app-form-ensayo-de-humedad />
  <app-form-granulometria />
</div>
<div class="content-form_l_p">
  <app-form-limite-liquido/>
  <app-form-limite-plastico/>
</div> -->
