h1{
  text-align: center;
  color: #5c5656;
  font-weight: 900;
}
.page-create{
  background-image: url('/assets/bg-create.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
}
