<h2>Granulometría</h2>
<form>
  <div class="header">
    <mat-form-field appearance="outline">
      <mat-label>Peso Inicial</mat-label>
      <input matInput>
    </mat-form-field>
    <p>GRS</p>
  </div>
  <div class="titles">
  <h3>Tamiz</h3>
  <h3>Peso Retenido</h3>
</div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="pulgada">
      <th mat-header-cell *matHeaderCellDef>pulg</th>
      <td mat-cell *matCellDef="let element">{{ element.pulgada }}</td>
    </ng-container>
    <ng-container matColumnDef="mm">
      <th mat-header-cell *matHeaderCellDef>mm</th>
      <td mat-cell *matCellDef="let element">{{ element.mm }}</td>
    </ng-container>
    <ng-container matColumnDef="gr">
      <th mat-header-cell *matHeaderCellDef>gr</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <mat-label>Gr</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="total">
    <p>Total</p>
    <p>12300,0</p>
  </div>
</form>
