.titles {
  display: grid;
  justify-content: space-around;
  border-bottom: 1px solid #9f9f9f;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  h3:first-child {
    border-right: 1px solid #9f9f9f;
    margin: 0;
    display: flex;
    place-items: center;
    place-content: center;
  }
}
